body {
    padding: 0;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    padding-top: 50px;
    font-family: Dosis, Arial;
}

.color-white {
    color: white;
}

h2 {
  font-family: Dosis, Arial;
  font-size: 32px;
  color: #F8BB40;
  font-weight: bold;
}

h3 {
    font-weight: bold;
}

p.caption {
    font-size: 18px;
}
/* NAV */
nav{
    background: transparent;
}
.navbar-shrink{
    background: #333;
}
#mainlogo{
    height: 50px; width: 50px;
    line-height: 50px;
    vertical-align: top;
}
.navbar-brand {
    padding: 5px;
    height: 60px;
}
.navbar-brand img{
    display: inline-block;
}
.navbar-brand h1{
    display: inline-block;
    font-size: 36px;
    padding: 0px;
    margin: 0;
    vertical-align: middle;
    line-height: 50px;
    margin-left: 5px;
}

/* main-section */
.main-section {
  width: 100%;
    /*margin-top: 3em;
    margin-left: 30vw;
    width: 40vw;
    height: 40vw;*/
}





.inner-container{
  text-align: center;
  width: 1144px;
  width: 100%;
  /*width: 768px;*/
  margin: 0 auto;
  padding: 20px 0;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
.intro-message {
  position: absolute;
  margin: 170px auto;
  width: 100%;
  padding: 20px;
}
.intro-message .main-message {
  font-size: 45px;
  line-height: 50px;
  font-weight: bold;
}
.intro-message .message-desc{
  font-size: 17px;
  margin: 4em auto;
  width: 30%;
}
.intro-circle{
  height: 600px;
  width: 600px;
  margin: auto;
}

.intro-circle .circle-div {
  width: 100%;
  height: 100%;
  background: url(../img/site/circle2.png);
  background-size: cover;
  background-repeat: no-repeat;
  animation: rotateFull 2s linear infinite;
  -webkit-animation: rotateFull 2s linear infinite;
}


@keyframes rotateFull {
  from { transform: rotate(0);}
  to {transform: rotate(360deg);}
}

@-webkit-keyframes rotateFull {
  from { transform: rotate(0);}
  to {transform: rotate(360degs);}
}

/* Media queries to handle this in all screen sizes*/
@media (max-width: 768px) {
  .intro-circle {
    width: 550px;
    height: 550px;
  }
  .intro-message{
    margin-top: 120px;
  }
  .intro-message .message-desc {
    margin: 4em auto;
    width: 40%;
  }
}
@media (max-width: 650px) {

  .intro-message .main-message{
    font-size: 35px;
  }
  .intro-message .message-desc{
    margin-top: 3em;
    width: 50%;
  }
  .intro-message{
    margin-top: 100px;
  }
  .intro-circle {
    width: 500px;
    height: 500px;
  }
}
@media (max-width: 530px) {

  .intro-message .main-message{
    font-size: 28px;
    line-height: 35px;
  }
  .intro-message .message-desc{
    font-size: 15px;
    margin-top: 2.5em;
    width: 60%;
  }
  .intro-message{
    margin-top: 80px;
  }
  .intro-circle {
    width: 90vw;
    height: 90vw;
  }
}
@media (max-width: 420px) {

  .intro-message .main-message{
    font-size: 22px;
    line-height: 25px;
  }
  .intro-message .message-desc{
    font-size: 14px;
    margin-top: 2em;
    width: 70%;
  }
  .intro-message{
    margin-top: 70px;
  }
  .intro-circle {
    width: 90vw;
    height: 90vw;
  }
}
@media (max-width: 340px) {

  .intro-message .main-message{
    font-size: 18px;
    line-height: 20px;
  }
  .intro-message .message-desc{
    font-size: 12px;
    margin-top: 1.4em;
    width: 75%;
  }
  .intro-message{
    margin-top: 50px;
  }
  .intro-circle {
    width: 90vw;
    height: 90vw;
  }
}
@media (max-width: 280px) {

  .intro-message .main-message{
    font-size: 16px;
    line-height: 18px;
  }
  .intro-message .message-desc{
    font-size: 11px;
    margin-top: 1.4em;
    width: 80%;
  }
  .intro-message{
    margin-top: 40px;
  }
  .intro-circle {
    width: 90vw;
    height: 90vw;
  }
}


/* about  */

#about-frame {
    background: url("../img/site/pattern-home.png");
    background-color: #0E97F0;
    padding: 4em 0;
}

#about-frame .sec-header{
    padding: 0 3em 2em 3em;
}

.sec-header .caption {
    color: #eee;
}
.sec-header .caption.dark{
    color: #333;
}

.about-box {
    background: white;
    width: 90%;
    padding: 1.5em 5%;
    margin: 1em 5%;
    border-radius: 1em;
    position: relative;
    text-align: center;
}
.about-box .caption {
    margin-bottom: 2em;
    font-size: 15px;
}
.about-box ul{
  text-align: left;
}

.about-box::before {
    content: "";
    position: absolute;
    top: 0em;
    margin-left: 0;
    margin-right: 0;
    border-top: solid 1em #0E97F0;
    border-left: solid 1em transparent;
    border-right: solid 1em transparent;
}

/* Services */

#services-frame{
    background: #000000;
}

.service {
    padding: 0;
    background-color: #212937;
    background-size: cover;
    -webkit-transition: width 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    -moz-transition: width 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    -ms-transition: width 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    -o-transition: width 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition: width 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    overflow-x: hidden;
    outline: 1px solid #0E97F0;
}
.service-header h2{
  font-size: 25px;
}

.service-header .anim-border {
    width: 10%;
    margin-left: 45%;
    margin-top: 2em;
    height: 1px;
    background: white;
}
.service:hover .anim-border{
    margin-left:30%;
    width: 40%;
    height: 2px;
    transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.service:hover .service-header > img {
  transform: scale(1.1) translateY(-20px);
  transition: transform 0.5s ease-in;
}

.service-details {
    width: 100%;
    height: 100%;
    min-height: 40em;
    background: #aaa;
    padding: 3em 3em;
}

#services-offerings .service-details {
  background: #CD3F42;
}


@media (min-width: 768px) {
    .service {
        min-height: 40em;
    }
    .service.hovered, #services-frame:hover .service:not(.opened):hover{
        width: 31%;
    }

    .service.unhovered, #services-frame:hover .service{
        width: 23%;
    }
    html body section#services-frame div.service.opened {
        width: 100%;
    }
    body #services-frame .service.closed {
        width: 0;
    }
    #services-frame:hover .service::before{
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: #000000;
        opacity: 0.7;
    }
    #services-frame:hover .service:hover::before{
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: #000000;
        opacity: 0;
    }
    .service-header {
        margin-top: 12em;
        text-align: center;
    }
}
@media (max-width: 768px) {
    .service {
        height: 20vh;
        overflow: hidden;
    }

    html body section#services-frame div.service.opened {
        height: 100vh;
        height: auto;
    }
    body #services-frame .service.closed {
        height: 0;
    }
    .service-header {
        text-align: center;
        vertical-align: middle;
    }
    .service-header h2 {
        line-height: 16vh;
    }
    .service-header > img{
      display: none;
    }
}





.stream {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.line-dash {
    border: 1px dashed white;
    padding-top: 2em;
    border-bottom: 0;
}

.dash-line-vertical {
    margin-left: 50%;
    height: 2em;
    border-left: 1px dashed white;
}

.border-top {
    border-top: 1px dashed white;
}
@media (max-width: 768px) {
  .dash-line-vertical, .border-top {
    border: none;
  }
}

.rounded-stream {
    font-size: 1.3em;
    width: 13em ; height: 13em; line-height: 13em;
    text-align: center;
    border-radius: 20em;
    margin:auto;
    background: #000000;
    color: white;
    font-weight: bold;

}


.stream-egs div{
    width: 19em;
    margin: auto;
    background: #000000;
    color: #aaa;
    margin-top: 5px;
}
.stream-egs div h4{
    padding: 3px;
    margin:1px;
}

.stream-egs div p{
    display: none;
}

.service-details {
    display: none;
}

.service-details .back-arrow {
    width: 50px;
    height: 50px;
    margin: 20px;
    cursor: pointer ;
    float:left;
    background : url(../img/site/arrows.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: -1em;
    top: -2em;
}


/* Service: Services(Implemenations) */

.service .sec-header {
    padding: 1em 0 2em 0;
}

.implementation {
    margin-top: 1em;
    margin-bottom: 1em;
}
.implementation .img-desc {
    font-weight: bold;
    padding:4px 0;
    font-size: 1.1em;
}

/* GROWTH LABS */
.growth-labs .growth {
    padding: 1em 0;
}
.growth-labs .growth img{
  width: 5em;
}
.growth-labs .img-desc {
    display: inline-block;
    font-size: 20px;
    padding: 20px 0 20px 20px;
    margin-right: -2em;
}

/* PLATFORM */
.platform img{
    margin: auto;
}
.platform h4 {
    font-weight: bold;
    border-top: 3px solid black;
    text-align: center;
    position: relative;
}
.platform h4::before{
    content: "";
    position: absolute;
    top: -0.6em;
    left: 46%;
    border-bottom: solid 0.4em #000;
    border-left: solid 0.4em transparent;
    border-right: solid 0.4em transparent;
}

.platform p{
    text-align: center;
}
/* Contact */

#contact-frame {
    background: #0E97F0 url("../img/contact.png");
    background-size: contain;
    background-position-x: 100%;
    background-repeat: no-repeat;
    color: #EEE;
    padding: 5em 2em;
}
#contact-frame h2 {
    padding: 1em;
}
#contact-frame ul {
    margin: 0;
    padding: 1em;
}
#contact-frame ul li{
    list-style: none;
    font-size: 20px;
}
#contact-frame a {
    color: inherit;
}
.socials li {
    display: inline-block;
}
.socials a img{
    width: 70px;
    padding: 10px;
}
.socials a img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-out;
}

/* FOOTER */
footer {
  padding: 1em;
  background: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
  color: white;
}


/* WHAT FOR  */
#for-details{
    padding: 3em;
}
.whatfor{
    font-size: 18px;
    text-align: center;
    padding: 20px;
    margin-top: 1em;
}
.whatfor h4{
    font-weight: bold;
    background: #204d74;
    border-radius: 10px;
    color: white;
    padding: 3px;
}

.whatfor p {
    text-align: justify;
}
